@font-face {
    font-family: 'Roboto';
    src: url('./assets/Roboto.ttf');
}

roboto = 'Roboto';

fontR(size, weight = 500) {
    font-family: roboto;
    font-weight: weight;
    font-size: size;
}

animtime() {
    transition: 0.4s;
}