@import './consts.styl';

* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	color: black;
}

html {
	scroll-behavior: smooth;
	height: 100vh;
}

body {
	display: flex;
	height: 100%;
	width: 100%;

	#root {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		height: inherit;
		width: inherit;
		padding: 0 5%;
	}
}
